li{
    cursor: pointer;
     
}
#menu {
    
    margin: 0;
    padding: 0;
    float: left;
    /*height: 100%;*/
    display: block;
    width: 25%;
    /* background-color: #CC1620; */
    background-image: linear-gradient(to top, #640c18, #75101d, #861422, #981826, #aa1d2b, #b61e2d, #c21f2e, #ce2030, #d71d30, #e1192f, #ea142e, #f40e2d);
    }
#moviedisplay{
        display: flex;
        flex-direction: column;
        width:75%;
        float: right;
        align-items: center;
        justify-content: space-around;
        
    }
#image{
    height: 500px;
    
}
#me{
    background-image: url(red.webp);
    background-size: cover ;
}
#card{

/* background-image: linear-gradient(to top, #0d0d0d, #24192a, #441f3f, #6b1e49, #941947, #a91643, #bd173b, #ce2030, #d71d30, #e1192f, #ea142e, #f40e2d); */
background-image: linear-gradient(to top, #640c18, #75101d, #861422, #981826, #aa1d2b, #b61e2d, #c21f2e, #ce2030, #d71d30, #e1192f, #ea142e, #f40e2d);
}
h1{
    text-align: center;
}
#button{
    background-image: linear-gradient(to top, #640c18, #75101d, #861422, #981826, #aa1d2b, #b61e2d, #c21f2e, #ce2030, #d71d30, #e1192f, #ea142e, #f40e2d);
}
